secrets.py
secrets.json
settings.toml
.env
*.csv
csv
code.py
*.cap
lib
lib7
lib8
lib9
__pycache__
backup
contrib/rpi-rgb-led-matrix.tar
contrib/rpi-rgb-led-matrix
logfile
oldlogfile
logs
*.log
notes
contrib/feathers2
Adafruit_CircuitPython_GPS
unsorted
contrib/unexpected_maker_code.py

