# as root:
# make a symlink to this file in /etc/systemd/system
# then run systemctl enable mondrian
# and reboot or run systemctl start mondrian

[Unit]
Description=mondrian.py data plotting script

[Service]
Type=oneshot
ExecStart=/root/build/bin/embedded/mondrian.py

[Install]
WantedBy=multi-user.target

